<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mstp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlets.rolloutDTAtrasada</servlet-name>
    <servlet-class>servlets.rolloutDTAtrasada</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.rolloutDTAtrasada</servlet-name>
    <url-pattern>/rolloutDTAtrasada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Lg_erp</servlet-name>
    <servlet-class>servlets.Lg_erp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Lg_erp</servlet-name>
    <url-pattern>/Lg_erp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Jobs_Servlet</servlet-name>
    <servlet-class>servlets.Jobs_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Jobs_Servlet</servlet-name>
    <url-pattern>/Jobs_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.RolloutServlet</servlet-name>
    <servlet-class>servlets.RolloutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.RolloutServlet</servlet-name>
    <url-pattern>/RolloutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Upload_servlet</servlet-name>
    <servlet-class>servlets.Upload_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Upload_servlet</servlet-name>
    <url-pattern>/Upload_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.SiteMgmt</servlet-name>
    <servlet-class>servlets.SiteMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.SiteMgmt</servlet-name>
    <url-pattern>/SiteMgmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.UserMgmt</servlet-name>
    <servlet-class>servlets.UserMgmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.UserMgmt</servlet-name>
    <url-pattern>/UserMgmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.POControl_Servlet</servlet-name>
    <servlet-class>servlets.POControl_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.POControl_Servlet</servlet-name>
    <url-pattern>/POControl_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Dashboard_Servlet</servlet-name>
    <servlet-class>servlets.Dashboard_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Dashboard_Servlet</servlet-name>
    <url-pattern>/Dashboard_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Reg_Servlet</servlet-name>
    <servlet-class>servlets.Reg_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Reg_Servlet</servlet-name>
    <url-pattern>/Reg_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Rel_auto</servlet-name>
    <servlet-class>servlets.Rel_auto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Rel_auto</servlet-name>
    <url-pattern>/Rel_auto</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>servlets.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/main.jsp</url-pattern>
    <url-pattern>/POControl_Servlet</url-pattern>
  </filter-mapping>
</web-app>